/* styles */
textarea {
    width: 100%;
    resize: vertical;
}

.setting-item:has(textarea),
.font-settings,
.package-settings {
    flex-direction: column;
    gap: 0.5em;
    align-items: stretch;
}

.is-disabled {
    display: none;
}

.add-fonts-div {
    display: flex;
    gap: 0.5em;
}

.font-input {
    flex-grow: 1;
}

.font-tags-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.font-tag {
    background-color: var(--interactive-normal); /* #363636 */
    border-radius: 20px;
    padding: 0.5em 0.6em 0.5em 1em;
}

.tag-btn {
    margin-left: 0.6em;
    padding: 0.4em;
}

.font-tag-text {
    font-size: var(--font-ui-small);
}

button,
.tag-btn {
    cursor: pointer;
}

.tag-btn:hover {
    color: var(--interactive-accent);
}

.typst-doc {
    vertical-align: bottom;
}

.package-settings {
    gap: 0;
}

.package-settings .setting-item-description {
    margin: 0.5em 0;
}

.package-item {
    display: flex;
    border-bottom: 1px solid var(--background-modifier-border);
    gap: 0.5em;
    align-items: center;
    font-size: var(--font-ui-small);
}

.package-version {
    margin-left: auto;

}

.delete-pkg-btn {
    margin-top: 1.5em;
    width: max-content;
    margin-left: auto;
}